<p class="codepen" data-height="300" data-default-tab="js,result" data-slug-hash="{{ .Get "hash" }}" data-user="{{ .Get "user" }}" style="height: 300px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid; margin: 1em 0; padding: 1em;">
  <span>See the Pen <a href="https://codepen.io/{{ .Get "user" }}/pen/{{ .Get "hash" }}">
    Sample</a> by Taylor Deckard (<a href="https://codepen.io/{{ .Get "user" }}">@{{ .Get "user" }}</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
